.loading {
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;

	i {
		font-size: 100px;
	}
}

.new {
	&__title {
		margin-bottom: 5px !important;
	}

	&__main {
		margin-bottom: 10px !important;
	}
}
